---
// src/pages/index.astro
import i18next, { t } from "i18next";
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{t("site.title")}</title>
    <meta name="description" content={t("site.description")} />
  </head>
  <body>
    <h1>{t("home.title")}</h1>
    <p>
      <div>
        <div>法绝世独立开发哈伦裤时尚款</div>
        This is a <em>more complex</em> string to translate, mixed with <strong
          >html elements
        </strong> such as <a href="https://example.com/">a cool link</a>!
      </div>
    </p>
  </body>
</html>